<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/users/Add">
        <input type="text" name="Name" placeholder="Name" />
        <input type="text" name="Email" placeholder="Email" />
        <input type="password" name="password" placeholder="password" />
        <button>summit</button>
    </form>
</body>
</html>